* {
	border: 0;
	margin: 0;
	padding: 0;
}

html {
	color: #282828;
	font-family: sans-serif;
	height: 100%;
}

body {
	background-image: linear-gradient(rgba(30, 30, 30, 0.8), rgba(20, 20, 20, 0.95)),
		url("../images/softhexagonpattern.png");
	background-attachment: fixed;
	background-color: #282828;
	background-repeat: repeat;
	padding-bottom: 100px;
}

form {
	background-color: #f5f5f5;
	box-shadow: 10px 15px 8px rgba(0,0,0,.5);
	margin: 40px auto;
	width: 50%;
}
form h2 {
	background-color: #2F7F58;
	color: #f5f5f5;
	padding: 15px;
	text-align: center;
}
form input[type=submit] {
	background-color: #d2e6c4;
	font-weight: bold;
	height: 50px;
	margin-bottom: 15px;
	margin-top: 30px;
	text-transform: uppercase;
	transition: box-shadow 0.2s, background-color 0.2s;
	width: 60%;
}
form input[type=submit]:hover {
	background-color: #91eb52;
	box-shadow: 3px 3px 3px rgba(0,0,0,.5);
	transition: 0.2s;
}

header {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(47, 127, 88, 0.7));
	background-color: #6db33f;
	color: #f5f5f5;
	padding: 30px;
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
}

.input-field {
	font-size: 1.3em;
	padding-top: 35px;
	width: 100%;
}
.input-field label {
	padding: 15px;
	width: 30%;
}
.input-field input[type=text] {
	border: 1px solid #cecece;
	float: right;
	font-size: 1.1em;
	height: 30px;
	margin-right: 15px;
	padding: 3px;
	width: 70%;
}

.submit-wrapper { 
	text-align: center;	
}

.status-bar {
	background-color: #1e1e1e;
	border-top: 2px solid #91eb52;
	color: #91eb52;
	font-family: monospace;
	font-size: 1.2em;
	height: 100px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
.status-bar h3 {
	color: #1e1e1e;
	background-color: #91eb52;
	font-size: 1.2em;
	padding-left: 7px;
}
.status-bar p {
	padding: 7px;
}